 .Background{
  background-color: rgba(0, 0, 0, 0.929);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .main-container{
  background-color: rgba(238, 239, 240, 0.923);
  height: 500px;
  width: 300px;
  border-radius: 10px;
  border-color: darkolivegreen ;
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
 }
.main-container:hover{
  box-shadow: 0 0 8px rgb(21, 123, 21) ;
  transition: scale(1.05);
  background-color: rgb(213, 243, 243);
}
h1{
  padding-left: ;
}